@charset "UTF-8"
/* Css Document */

.container {
	width:70%;
	margin: 0 auto;
}
img {
	width:100%;
	height: auto;
}

.box1 {
	position:absolute;
	right:25px;
	top:40px;
	background-color:skyblue;
	padding:15px 20px;
}

.box2 {
	position:fixed;
	top:0;
	left:30px;
	background-color:skyblue;
	padding:15px 20px;
}

.insidebox2{
	background-color:skyblue;
}

.box3{
	position:sticky;
	right:25px;
	bottom:40px;
	background-color:skyblue;
	padding:5px 10px;
}


.box4{
	float:right;
	left:15px;
	background-color:skyblue;
	padding:5px 10px;
}

.box5 {
	float:left;
	right:0px;
	bottom:0px;
	background-color:skyblue;
	padding:5px 10px;