@charset "utf-8";
/* CSS Document */


*{margin:0;
padding:0;
}

body {
	text-align:center;
	background-color:#F4F5F8;
  	margin:0;
  	padding:0;
    background:url("../img/thai.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
}

.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.eb-garamond-uniquifier {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}

#widecolumn {
	width:1380px;
	padding:5px;
	margin-bottom:40px;
}

h{
font-style:normal;
font-family:"Alfa Slab One";
font-size:50px;
	margin-top:40px;
margin-botton:40px;
}

h3{
font-style:normal;
font-family:"Alfa Slab One";
font-size:30px;
padding-top:20px;
padding-bottom:20px;
}

h4{
font-style:normal;
font-family:"Alfa Slab One";
font-size:18px;
padding-top:20px;
padding-bottom:20px;
padding-right:80px;
padding-left:80px;
}
h2  {
  margin: 10px;
font-style:italic;
font-size:25px;
font-weight:100;
font-family:"EB Garamond";
}

p  {
  margin: 10px;
font-size:25px;
font-weight:100;
font-family:"EB Garamond";
padding-right:80px;
padding-left:80px;
}

dt  {
  margin: 10px;
font-size:18px;
font-weight:100;
font-family:"EB Garamond";
padding-right:80px;
padding-left:80px;
}

ul {
list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: #F4F5F8;
box-shadow:5px 5px #d3d1e0;
  position: fixed;
  top: 0;
  width: 100%;
	
}

ul li {
  float: left;
}

li{
	font-family:"EB Garamond";
	font-style:normal;
	font-size:20px;
	font-weight:200;
}

ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #d3d1e0;
	
}

em{
font-size:16px;
}

small{
	font-size:16px;
	font-style:italic;
	font-weight:100;
	font-family:"EB Garamond";
	text-align: left;
}

.jpg {
	filter:brightness(50);
	object-fit:cover;
}

.tips {
	background-color:rgba(144,131,180,0.66);
	margin-left:80px;
		margin-right:80px;
	padding:50px;
	text-align:left;
	border-radius: 20px;
}

footer {
  text-align:left;
  padding: 10px;
margin-top: 40px;
background-color:rgba(181,172,210,1.00);
font-size:14px;
}

#widecolumn2 {
	width:1380px;
	padding:5px;
	margin-top:0px;
}

section {
	display:flex;
	width:80%;
	margin:0 auto;
}

.column{
	padding:20px;
	width:300px;
	height: 250px;
	background-color:rgba(77,67,133,0.65);
	margin:10px 10px;
	text-align:center;
}

h6 {
	/*width: 50%;*/
	text-align: center;
	font-size:16px;
	font-family:"EB Garamond";
	font-weight:100;
}

.column img {
	display:block;
}

.column em {
	float:left;
}
