@charset "UTF-8";
/* CSS Document */

body {font-size:1em;
	background-color:#ffedbf;
	margin:0 10% 20% 10%;
}
nav {text-align:center;
	font-size:0.75em;
}
h1 {text-align:center;
	color:#9b2948;
	background-color:#ffcd74;
	padding-bottom:30px;
	padding-top:30px;
}
h2 {text-align:left;
	color:#9b2948;
}
h3 {text-align:left;
	color:#9b2948;
}
h4 {text-align:left;
	color:#9b2948;
}
h5 {text-align:center;
	color:#9b2948;
}
li{
	list-style-type: none;
	display:inline;
	margin-right: 20px;
}
footer{
	text-align:center;
}
